<section class="share">
  <h3>{{ site.translations.text.share | default: "Share" }}</h3>
  <a
    aria-label="{{ site.translations.button.share_on_twitter | default: 'Share on Twitter' }}"
    href="https://twitter.com/intent/tweet?text=Check%20This%20Out!%20%3A%20{{ page.title }}&url=https://blog.omar45.com{{ page.url }}"
    onclick="window.open(this.href, 'twitter-share', 'width=750,height=500');return false;"
    title="{{ site.translations.button.share_on_twitter | default: 'Share on Twitter' }}"
  >
    <svg class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg>
  </a>
  <a
    aria-label="{{ site.translations.button.share_on_facebook | default: 'Share on Facebook' }}"
    href="https://www.facebook.com/sharer/sharer.php?u=https://blog.omar45.com{{ page.url }}"
    onclick="window.open(this.href, 'facebook-share','width=750,height=500');return false;"
    title="{{ site.translations.button.share_on_facebook | default: 'Share on Facebook' }}"
  >
    <svg class="icon icon-facebook">
      <use xlink:href="#icon-facebook"></use>
    </svg>
  </a>
  <a
    aria-label="{{ site.translations.button.share_on_twitter | default: 'Share on Twitter' }}"
    href="https://wa.me/?text=Check%20this%20out%20on%20Omar%27s%20Blog!%0A{{ page.title }}%0Ahttps://blog.omar45.com{{ page.url }}"
    onclick="window.open(this.href, 'whatsapp-share', 'width=750,height=500');return false;"
    title="{{ site.translations.button.share_on_whatsapp | default: 'Share on Whatsapp' }}"
  >
    <svg class="icon icon-whatsapp">
      <use xlink:href="#icon-whatsapp"></use>
    </svg>
  </a>
</section>
